/* Grupo:
    - Tulio
    - Gaspar
    - Ivan
    - Felipe
    - Carlindo
     */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #857363;
}

.topo {
    position: relative;
    padding: 10px;
    background-color: #4b3621;
    width: 100%;
}

.menu {
    position: absolute;
    text-align: right;
    right: 3%;
    /* transform: translateX(50%);  */
    top: 50%;
    transform: translateY(-50%);
    
}

.logo {
    position: relative;
    width: 10%;
    left: 1%;
    border-radius: 25px;
}


a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: darkorange;
    font-size: 17px;
    padding: 5px;
}



.banner {
    position: relative;
    width: 90%;
    text-align: center;
    left: 5%;


}

section {
    background-color: #4b3621;
    padding: 20px;
    border-top: 2px dotted rgba(37, 114, 18, 0.507);
    margin: 0% 5% ; /*Ajustando a margem do Banner*/
}

article {
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid black; 
    border-top: 2px solid black; 
    background-color: rgba(123, 124, 68, 0.808);


}

h1, h2{
    text-align: center;
    color: rgba(255, 255, 0, 0.596);
    text-decoration: underline;
    padding: 10px;
}


p {
    margin-bottom: 30px;
    padding: 10px;
    color: black;
}

.conteudotexto{
    padding: 20px;
}

.zap {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    bottom: 8px;
    z-index: 1;
}
footer{
    text-align: center;
    position: relative;
    background-color: yellow;
    padding: 20px;
    border: 2px solid black;
}

